@page
@model ServiceHost.Pages.AccessDeniedModel
@{
}

<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <h1>شما به این صفحه دسترسی ندارید!</h1><br>
                <span class="input-group-btn">
                    <a class="btn btn-purple waves-effect waves-light btn-lg" asp-page="./Index" type="button">بازگشت به صفحه اصلی</a>
                </span>
        <br>
    </div>
</div>
